---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AsciiLogo from "../../components/AsciiLogo";
---

<BaseLayout title="OT / manifesto">
  <div class="embed">
    <AsciiLogo client:load />

    <div class="text">
      <p>
        Otras Tecnologias is an archive of resources about software, ideas, books, articles, theory,
        applications, meetups, social networks, hardware, and more — from people who care about
        technology through open-source, DIY, democracy, peace, art, progress, community, cooperation,
        and mutual aid.
      </p>
      <p>
        Otras Tecnologias also relates to the history of humanity: tools made by humans.
      </p>
      <p class="muted">
        Each resource has a title, description, author(s), link, creation date, and (optionally) an
        image processed to 8/16-bit.
      </p>
      <p class="muted">[ use the table below to open resources in the viewer ]</p>
    </div>
  </div>

  <style>
    .embed {
      padding: 10px;
    }
    .art {
      margin: 0 0 10px;
      white-space: pre;
      color: var(--fg);
      line-height: 1.1;
      font-size: 12px;
    }
    .text p {
      margin: 0 0 10px;
    }
  </style>
</BaseLayout>

